$mobile-small: 567.98px;
$mobile: 767.98px;
$tablet: 991.98px;
$laptop: 1200px;

@mixin min-height {
  min-height: 100%;
  height: 100%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile-small {
  @media screen and (max-width: $mobile-small) {
    @content
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content
  }
}

@mixin tablet {
  @media screen and (min-width: $mobile + 0.02px) and (max-width: $tablet) {
    @content
  }
}

@mixin laptop {
  @media screen and (min-width: $tablet + 0.02px) and (max-width: $laptop) {
    @content
  }
}
