$fontSize: 16px;
$colorText: #fff;
$colorHome: #3387ea;
$colorContactFirst: #f9be3e;
$colorHire: #d3573e;
$colorPhotos: #59b0e2;
$colorAboutFirst: #33af95;
$colorAboutSecond: #86a73f;
$colorBlog: #151a26;
$colorContactSecond: #7e5b8c;
